<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


           <div class="row g-3">
            <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                <div class="card">
                    <img height="250px" src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/e3/ed/e3ede2c8-3c6c-4b99-b2a2-129c6643b050/dr-ramakrishna-pillai.png__247x278_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Ramakrishna Pillai V</h5>
                    <h3>Cardiology</h3>
                    <h4>_</h4>
                    </div>
                  </div>

            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                <div class="card">
                    <img height="250px" src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/57/2e/572e56c9-9cc9-4370-8e01-040eec5658fc/dr-mohammed-nazeer.png__253x285_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Muhammed Nazeer</h5>
                    <h3>Orthopedics & Trauma_</h3>
                    </div>
                  </div>


            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                <div class="card">
                    <img height="250px" src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/15/f6/15f674fe-545b-468a-815f-aa187ece7028/dr-madhu-sasidharan.png__253x285_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"> Dr. Madhu Sasidharan</h5>
                    <h3>Gastroenterology</h3>
                    <h4>_</h4>
                    </div>
                  </div>

            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                <div class="card">
                    <img height="250px" src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/f8/96/f896cb23-b17d-4e59-97e2-aa4438e3a8dc/dr-jayaprakash-madhavan.png__253x285_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Jayaprakash Madhavan</h5>
                    <h3>Cancer care</h3>
                    <h4>_</h4>
                    </div>
                  </div>

            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                <div class="card">
                    <img height="250px" src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/71/d7/71d70961-284b-4510-8020-f3e3b73f3c79/dr-suresh-chandran.png__247x278_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Suresh Chandran C J</h5>
                    <h3>Neurology</h3>
                    <h4>_</h4>
                    </div>
                  </div>

            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                <div class="card">
                    <img height="250px" src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/0c/8a/0c8ace09-9584-4889-9848-dfb04f07bbb5/dr_cinu.jpg__253x285_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Cinu A Nair</h5>
                    <h3>Obstetrics & Gynecology_</h3>
                    </div>
                  </div>

            </div>
           
           </div>

        </div>
    </div>
</div>