<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

       <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

<label for="" class="form-label">Department :</label>
<select name="" id="" class="form-control">
    <option value="Cardiology">Cardiology</option>
    <option value="Cancer Care">Cancer Care</option>
    <option value="Gastroenterology">Gastroenterology</option>
    <option value="Obstetrics & Gynecology">Obstetrics & Gynecology</option>
    <option value="Neurology">Neurology</option>
    <option value="Orthopedics & Trauma">Orthopedics & Trauma</option>
</select>
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

<button class="btn btn-danger">Search</button>
        </div>
       </div>
        
        </div>
    </div>
</div>